
body,html
{
    height:100%
}
body{

    background-image: url("images/COMING-SOON.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    display:grid;
    grid-template-rows: repeat(6, 1fr) ;
    grid-template-columns: repeat(3, 1fr);
   

}

.position{
    grid-row-start: 6;
    justify-self: left;
    align-self: flex-end;
}


.social-nav a {
    color: rgba(133, 216, 209, 0.719);
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    padding: 5px;
}
.social-nav a:hover {
    color:rgb(231, 34, 34);
    transform: rotate(180deg);
}

.copyright {
    color: rgba(151, 218, 212, 0.719);
    font-size:15px;
    justify-self: left;
   

}
